<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Hello</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <!-- Styles -->
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="">
            Ussd App
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
        </div>
    </nav>

    <main class="py-4">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                   <div class="row">
                       <div class="col-md-7">
                           <form method="POST" action="127.0.0.1:8080" class="start-process">
                               <div class="form-group row">
                                   <label for="phone" class="col-sm-4 col-form-label text-md-right">Enter Phone</label>
                                   <div class="col-md-6">
                                       <input id="phone" type="text" class="form-control phone-input" name="phone" placeholder="Enter Phone Number" required autofocus>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label for="email" class="col-sm-4 col-form-label text-md-right">Enter Code</label>
                                   <div class="col-md-6">
                                       <input id="email" type="text" class="form-control code-input" name="code" placeholder="Enter Code" required autofocus>
                                   </div>
                               </div>
                               <div class="form-group row mb-0">
                                   <div class="col-md-8 offset-md-4">
                                       <button type="submit" class="btn btn-primary submit-btn">
                                           Proceed
                                       </button>
                                   </div>
                               </div>
                           </form>
                       </div>
                       <div class="col-md-5">
                           <ul class="list-group">
                               <li class="list-group-item">*101*pin(4 digits)# <button class="btn btn-sm btn-outline-info pull-right btn-block">For Account Opening <i class="fa fa-folder-open"></i></button></li>
                               <li class="list-group-item">*102*recipient phone*amount# <button class="btn btn-sm btn-outline-info pull-right btn-block">Send Money <i class="fa fa-send-o"></i></button></li>
                               <li class="list-group-item">*103*pin# <button class="btn btn-sm btn-outline-info pull-right btn-block">Check Balance <i class="fa fa-google-wallet"></i></button></li>
                           </ul>
                       </div>
                       <div class="col-md-12">
                           <div class="card">
                               <div class="card-header">
                                   Result
                               </div>
                               <div class="card-body">
                                   <p class="card-text response-text"></p>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>

